    <%= link_to("Back to List", {:action => 'index'}, :class => 'back-link') %>
    <div class="subjects edit">
        
        <%= form_for(:page, :url => {:action => 'update', :id => @page.id }) do |p| %>
        
        <%= render(:partial => "form", :locals => {:p => p} ) %>


        <div class="form-buttons">
            <%= submit_tag("Update Page") %>
        </div>

        <% end %>
    </div>
