
    <%= link_to("Back to List", {:action => 'index'}, :class => 'back-link', :subject_id => @subject.id) %>
    <div class="page new">
        
        <%= form_for(:page, :url => {:action => 'create', :subject_id => @subject.id}) do |p| %>

            <%= render(:partial => "form", :locals => {:p => p} ) %>

        <div class="form-buttons">
            <%= submit_tag("Create Page") %>
        </div>

        <% end %>
    </div>